<div id="body">
<div class="main_body ">
		<div class="login_body clear">
			  
		   		<div class="heading margin">
		   		<h2>Login</h2>
		   		</div>
		   		<div class="content">
			 <div class="result" *ngIf='msg' [ngStyle]="{'margin-bottom':'10px'}" >{{msg}} </div>
            <div class="success" *ngIf="responseSuccess" [ngStyle]="{'margin-bottom':'10px'}" ><span class='glyphicon glyphicon-ok-sign'></span> {{responseSuccess}} </div>
            <div class="result" *ngIf="responseError" [ngStyle]="{'margin-bottom':'10px'}"><span class='glyphicon glyphicon-ban-circle'></span> {{responseError}} </div>
		   			<div class="result" *ngIf="error && loginForm.get('UID').untouched && loginForm.get('password').untouched"><span class='glyphicon glyphicon-ban-circle'></span> {{error}} </div>
		   			<div id="resetSuccess"></div>
             <form novalidate (submit)="login(loginForm)" [formGroup]="loginForm">
              <div class="result" *ngIf="loginForm.get('UID').hasError('required') && loginForm.get('UID').touched"><span class='glyphicon glyphicon-ban-circle'></span> User ID is Required </div>
				   		<div class="input-group margin">
						    <span class="input-group-addon BG"><i class="glyphicon glyphicon-user"></i></span>
                <input  type="text" class="form-control" placeholder="User ID" formControlName='UID'>
						</div>
            <div class="result"*ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"><span class='glyphicon glyphicon-ban-circle'></span> Password is Required </div>
						<div class="input-group ">
						    <span class="input-group-addon BG"><i class="glyphicon glyphicon-lock"></i></span>
						    <input type="password" class="form-control" placeholder="Password" formControlName='password'>
				  		</div>
			  			<button class="btn btn-primary clear mid">SUBMIT</button>
			   		</form>
			   		<div class="pull-right" id="forgot">
						   <a (click)=" reset.Fail = false; lgModal.show(); "> Forgot password</a>
			   		</div>
			   	</div>
	</div>
</div>
</div>
<footer></footer>

<div class="modal fade" bsModal #lgModal="bs-modal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="lgModal.hide()" >&times;</button>
				<h4 class="modal-title">Forgot Password</h4>
			</div>
		<div class="modal-body">
				<div id="forgotCont">	
					<alert *ngIf="reset.Fail" type="danger" ><span class='glyphicon glyphicon-ban-circle'></span> Invalid Email</alert>
					<alert *ngIf="reset.Success" type="success" > <span class="glyphicon glyphicon-ok-circle"></span> <strong>Success!</strong> An e-mail has been sent to your account </alert>
						<div [hidden]="!reset.Hidden">   	
							<p style="color: #8c8888;">Enter your E-mail ID</p>
							<input type="text"  id="forgotEmail" #Email placeholder = "E-mail" [disabled]="reset.Hidden">
						</div>
				</div>  
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" (click)="lgModal.hide()">Close</button>
			<button type="button" class="btn btn-primary" *ngIf='!reset.Hidden' (click)="forgotPass(Email.value)">Submit</button>
		</div>
		</div>   
	</div>
  </div>